header{background-color: rgb(62, 112, 219);}
p{color: rgb(4, 150, 89);}
footer{border-top: solid rgb(243, 87, 87) 2px;}
nav{font-weight: bold;}
h1{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
h2{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}