header{background-color: rgb(80, 124, 219);}
p{color: rgb(2, 167, 98);}
footer{border-top: solid rgb(248, 97, 97) 2px;}
nav{font-weight: bold;}
h1{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
h2{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}